asgiref==3.8.1
click==8.1.8
Django==5.2
django-filter==25.1
django-redis==5.4.0
django-rq==3.0.1
djangorestframework==3.16.0
Faker==37.1.0
psycopg2==2.9.10
python-decouple==3.8
redis==5.2.1
rq==2.3.2
sqlparse==0.5.3
tzdata==2025.2
